# Copy this file to local_paths.pri and edit for your machine.
#
# QMQTT is bundled separately. The default local setup in this workspace uses:
# /home/arty/Documents/video_ros2/install
#
# If you have QMQTT installed somewhere else, point QMQTT_ROOT at that prefix.
QMQTT_ROOT = /home/arty/Documents/video_ros2/install
